{#
# Layout template
# ---------------
#
# This template defines your site’s global layout. It can be
# “extended” by other templates to fill in the gaps.
#
# See Twig’s Template Inheritance documentation for more details:
# http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}


<!DOCTYPE html>
<html>
<head>
	<title>Project Title</title>

	<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" {%if siteUrl %} href="{{alias('@assetBasePath')}}/css/main.css" {% else %} href="../web/assets/css/main.css"{% endif %}>

	<script {%if siteUrl %} src="{{alias('@assetBasePath')}}/js/vendor/modernizr-custom.js" {% else %} src="../web/assets/js/vendor/modernizr-custom.js"{% endif %}></script>
</head>
<body>
	{% block content %}
    {% endblock %}

    
	<script {%if siteUrl %} src="{{alias('@assetBasePath')}}/js/main.js" {% else %} src="../web/assets/js/main.js"{% endif %}></script>
</body>
</html>