/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
input[type="submit"] {
	cursor: pointer;
	margin: 0.5em 0;
	padding: 0.75em 1em;
	box-shadow: none;
	border: none;
	border-radius: 0;
	position: relative;
	// background-color: $red;
	font-size: 20px;
	letter-spacing: 2px;
	// font-weight: bold;
	color: $white;
    text-decoration: none;
    font-family: $ff-serif;
	text-transform: uppercase;
	
	@media screen and (min-width: $tablet-BP) {
		font-size: 24px;	
	}

	&:hover,
	&:focus {
		// background-color: $darkRed;
	}

}
